<% content_for :title do %>Team Dashboard<% end %>

<script type="module" src="https://unpkg.com/x-frame-bypass"></script>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="shoutbox" data-view="Shoutbox" data-message="Personalisation ... Help and Support ... Rewards!" data-type="happy"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="TwelveHourClock"></div>
    </li>    

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast"></div>
    </li>    

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="quote" data-view="Quote"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="3">
      <div id="iframe1" data-view="Iframe" data-url="https://centrica.saas.appdynamics.com/controller/dashboards.jsp?desktopView=false&webpack=prod#/location=DASHBOARD_VIEWER&token=4229cb1d-b88e-47b6-ad4e-024cddbb79a9&timeRange=last_1_hour.BEFORE_NOW.-1.-1.60"></div>
    </li>

<!--
    <li data-row="3" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="boardStatus" data-view="JiraSprintBoardStatus"></div>
    </li>
  -->
    
  </ul>
</div>
