<% content_for :title do %>Team Dashboard<% end %>

<script type="module" src="https://unpkg.com/x-frame-bypass"></script>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="shoutbox" data-view="Shoutbox" data-message="Personalisation ... Help and Support ... Rewards!" data-type="happy"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="2">
     <div data-id="sonar" data-view="List" data-title="sonar stats" data-unordered="true" data-moreinfo="values as %">
     </div>
    </li>
    
  </ul>
</div>
